<div class="container"> 
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1><%= form_title %></h1>
            <% if @errors %>
  <div class="alert alert-danger">
    <ul>
    <% @errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
            <%= form_for @product do |f| %>
                <div class="mb-3">
                    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa el nombre del Producto" %>
                </div>
                <div class="mb-3">
                    <%= f.url_field :url, class: "form-control input-lg", placeholder: "Ingresa la URL del Producto" %>
                </div>
                <div class="mb-3">
                    <%= f.text_area :description, class: "form-control input-lg", placeholder: "Ingresa la descripción del Producto" %>
                </div>
                <div class="mb-3 d-grid gap-2">
                    <%= f.submit form_title, class: "btn btn-primary btn-lg btn-block" %>
                </div>
            <% end %>
        </div>
    </div>
</div>


